p{
  width: 50%;
}
.bg-primary{
  width: 15%;
  padding: 0.4rem;
  border-radius: 10px;
}
.bg-primary:hover{
  background: rgb(94, 94, 189) !important;
}
.container{
  margin-top: 5rem;
}
.image{
  background-image: url(A\ skilled\ developer.jpg) !important;
  width: 30rem;
  height: 20rem;
  padding: 5rem;
  position: absolute;
  right: 5rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-item img{
  background-image: url(A\ skilled\ developer.jpg);
  height: 500px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
h1{
  font-size: 3.5rem;
  font-weight: 600;
}